body {
margin: 0;
font-family: Arial, sans-serif;
background: #e0c5b6;
}
/* NAVBAR */
/* Laptop */
.header-nav {
  position: absolute;
  width: 100%;
  z-index: 10;
  background: #523e27;
  border-radius: 40px;
  padding: 10px 0;
}


/* Tablet */
@media (max-width: 992px) {
  .header-nav {
    padding: 5px 0;
  }
}


/* Phone */
@media (max-width: 576px) {
  .header-nav {
  }
}




/* BUTTONS */
/* Laptop */
.btn {
  font-size: 1.5rem;
  color: #e8cfc1;
}


/* Tablets */
@media (max-width: 992px) {
  .btn {
    font-size: 1rem;
  }
}


/* Phones */
@media (max-width: 576px) {
  .btn {
    font-size: 0.4rem;
  }
}
.box {
    background: #4c3a2f;
width: 100%;
padding: 60px;
color: #f2e6dc;
margin-top: 140px;
overflow-wrap: break-word;
}
.big-title {
font-size: 80px;
font-weight: 700;
}
.goal-text {
margin-top: 20px;
font-size: 18px;
line-height: 1.6;
}
.refs-title {
font-size: 40px;
margin-top: 40px;
font-weight: 600;
}
.references {
font-size: 11.2px;
white-space: pre-line;
margin-top: 15px;
}
.card-img-s {
height: 220px;
background-image: url('.jpeg');
background-size: cover;
background-position: center;
}
.card-img-y {
height: 220px;
background-image: url('.jpeg');
background-size: cover;
background-position: center;
}
.card-img-m {
height: 220px;
background-image: url('.jpeg');
background-size: cover;
background-position: center;
}
.carde {
background: #4c3a2f;
color: white;
text-align: center;
padding: 10px;
}