/* BACKGROUND */
/* Laptop */
body {
  background-image: url('https://i.imgur.com/1g9OJIQ.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/* Tablet */
@media (max-width: 992px) {
  body {
    background-image: url('https://i.imgur.com/1g9OJIQ.png');
    background-size: cover;
    background-attachment: scroll;
  }
}


/* Phone */
@media (max-width: 576px) {
  body {
    background-image: url('https://i.imgur.com/1g9OJIQ.png');
    background-size: cover;
    background-attachment: scroll;
  }
}



/* NAVBAR */
/* Laptop */
.header-nav {
  position: absolute;
  width: 100%;
  z-index: 10;
  background: #523e27;
  border-radius: 40px;
  padding: 10px 0;
}

/* Tablet */
@media (max-width: 992px) {
  .header-nav {
    padding: 5px 0;
  }
}

/* Phone */
@media (max-width: 576px) {
  .header-nav {
  }
}


/* BUTTONS */
/* Laptop */
.btn {
  font-size: 1.5rem;
  color: #e8cfc1;
}

/* Tablets */
@media (max-width: 992px) {
  .btn {
    font-size: 1rem;
  }
}

/* Phones */
@media (max-width: 576px) {
  .btn {
    font-size: 0.4rem;
  }
}

/* CONTENT */
/* Laptop */
.content {
  margin-top: 250px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content h2 {
  text-align: center;
  font-size: 1.5rem;
  color: #e8cfc1;
}

.content h1 {
  text-align: center;
  font-size: 11rem;
  color: #e8cfc1;
}

.content p {
  margin-top: 3rem;  
  text-align: center;
  font-size: 1.3rem;
  color: white;
  margin-left: 11rem;
  margin-right: 11rem;
  margin-bottom: 7rem;
}

/* Tablets */
@media (max-width: 992px) {
  .content {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content h2 {
  text-align: center;
  font-size: 1rem;
  color: #e8cfc1;
}

.content h1 {
  text-align: center;
  font-size: 7rem;
  color: #e8cfc1;
}

.content p {
  margin-top: 3rem;  
  text-align: center;
  font-size: 1rem;
  color: white;
  margin-left: 8rem;
  margin-right: 8rem;
  margin-bottom: 5rem;
}
}

/* Phones */
@media (max-width: 576px) {
.content {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content h2 {
  text-align: center;
  font-size: 0.7rem;
  color: #e8cfc1;
}

.content h1 {
  text-align: center;
  font-size: 4rem;
  color: #e8cfc1;
}

.content p {
  margin-top: 1rem;  
  text-align: center;
  font-size: 0.6rem;
  color: white;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 6rem;
}
}

/* FOOTER */
.footer-nav {
  width: 100%;
  background: #523e27;
  padding: 10px 0;
  margin-top: 40px;
  padding-bottom: 40px;
}

.footer-nav p{
  text-align: center;
  font-size: 1.0rem;
  color: white;
}

h1 {
  font-family: Garamond, Georgia, serif;
  font-weight: bold;
}
